/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: slateblue; */

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='760' preserveAspectRatio='none' viewBox='0 0 1440 760'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1083%26quot%3b)' fill='none'%3e%3crect width='1440' height='760' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c590.071C117.64%2c588.629%2c240.672%2c592.083%2c340.513%2c529.849C440.929%2c467.256%2c489.05%2c353.038%2c546.35%2c249.51C608.365%2c137.463%2c692.708%2c28.996%2c688.567%2c-99.001C684.263%2c-232.022%2c635.247%2c-381.258%2c523.598%2c-453.7C412.568%2c-525.741%2c266.458%2c-446.89%2c134.608%2c-458.431C36.226%2c-467.042%2c-53.006%2c-528.177%2c-150.545%2c-512.708C-254.987%2c-496.144%2c-357.097%2c-449.35%2c-426.383%2c-369.463C-495.682%2c-289.561%2c-516.243%2c-181.058%2c-529.224%2c-76.091C-541.999%2c27.214%2c-530.09%2c128.746%2c-500.329%2c228.493C-466.66%2c341.336%2c-441.364%2c469.286%2c-345.92%2c538.262C-249.468%2c607.966%2c-118.994%2c591.529%2c0%2c590.071' fill='%230c223a'%3e%3c/path%3e%3cpath d='M1440 1241.123C1558.025 1264.8029999999999 1685.7649999999999 1365.0149999999999 1788.493 1302.2649999999999 1890.584 1239.905 1843.16 1075.606 1890.693 965.825 1936.838 859.249 2072.76 786.208 2062.002 670.5699999999999 2051.295 555.48 1913.966 502.238 1839.3519999999999 413.96 1763.526 324.248 1723.844 202.09000000000003 1619.858 147.45799999999997 1506.759 88.03800000000001 1359.089 41.424999999999955 1247.016 102.75800000000004 1132.904 165.20600000000002 1151.596 338.785 1076.351 444.896 1011.842 535.867 873.904 567.17 841.933 674.011 809.246 783.243 847.254 906.7570000000001 909.569 1002.24 968.204 1092.084 1073.291 1134.342 1171.113 1178.397 1256.766 1216.971 1347.897 1222.644 1440 1241.123' fill='%23113254'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1083'%3e%3crect width='1440' height='760' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}